@model AuthorBook

<div class="form-group row mb-1">
    <label asp-for="BookId" class="col-form-label col-form-label-sm col-2"></label>
    <div class="col-4">
        <select asp-for="BookId" class="form-select" asp-items="@(new SelectList(ViewData["Books"] as IEnumerable<Book>, "BookId", "BookName"))">
            <option value="" selected>Select one</option>
        </select>
        <span asp-validation-for="BookId" class="text-danger"></span>
    </div>
    <div class="col-1">
        <button  type="button" class="btn btn-sm deloi-insert"><i class="bi bi-trash"></i></button>
    </div>
</div>

